@import "header/header.scss";
@import "main/main.scss";
@import "footer/footer.scss";
:root {
    --mi-green: #84c604;
    --mi-orange: #fd4f10;
    --mi-red: #ba2529;
    --mi-open-sans: 'Open Sans', sans-serif !important;
}

body {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--mi-open-sans);
    background-color: #ffffff;
}

.wrapper {
    width: 100%;
}

.card {
    width: 220px;
}

.btn {
	width: 90%;
	color: white;
	text-decoration: none;
	border-radius: 4px;
	font-size: 14px;
	outline: none;
}

.menu-list{
    list-style-type: none;
    padding: 0;
    margin: 0;

    .nav-item a{
        color: #000;
    }

    .nav-item.active a{
        cursor: pointer;
    }
}

@media (min-width: 768px) {
    @import "header/header-tablet.scss";
    @import "main/main-tablet.scss";
    @import "footer/footer-tablet.scss";
}

@media (min-width: 1170px) {
    
    @import "header/header-desktop.scss";
    @import "main/main-desktop.scss";
    @import "footer/footer-desktop.scss";
}