.header{
	.navbar{		
		.navbar-toggler{
			.navbar-toggler-icon{
				
			}
		}
		
		.menu {

			.nav-item {
				
			}
		}

		.navbar-brand {
			background-image: url("img/MiushiLogo-tablet.png");
			width: 151px;
			height: 55px;
		}
	}
}