.header{

    .mobile-menu {
        display: none;
    }

    .desktop-menu {
        display: flex;
        // border: 2px dotted black;

        .top{
            box-sizing: border-box;
            // border: 2px dotted red;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;

            .navbar-brand{
                justify-self: flex-start;
                margin-right: auto;
            }

            

            .email{
                &::before{
                    
                    bottom: 2px;
                    left: -1px;
                }
            }

            .address{
                margin: 0;
                margin-left: 150px;
            }

            .phone{
                // border: 2px dashed blue;
                margin-left: 75px;
            }
            .btn-callback{
                // border: 2px dashed blue;
                margin-left: 30px;
            }
        }

        .bottom{
            .navbar{
            //     display: flex;
            //     flex-direction: row;
            //     justify-content: space-between;
                .navbar-nav{
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;

                    .nav-item{
                        .dropdown-toggle{
                            outline:none;
                            font-size: 16px;
                            font-weight: 600;
                            color: #000000;
                            text-transform: uppercase;
                            border-radius: 0;   
                        }
                        &:hover .dropdown-toggle{
                            color: #ffffff;
                            background-color: var(--mi-green);
                        }
                    } 
    
                    .dropdown-menu{
                        position: absolute;

                        .dropdown-item:hover{
                            color: #ffffff;
                            background-color: var(--mi-green);
                        }
                    }
                }
                .private-btn{
                    display: flex;

                    .nav-link{
                        position: relative;
                        padding-left: 22px;
                        &::before{
                            position: absolute;
                            content: "";
                            width: 22px;
                            height: 22px;
                            left: -11px;
                            background-repeat: no-repeat;
                            background-position: center center;
                            
                            
                        }
                    }

                    .cabinet {
                        a::before{
                            background-image: url("img/user.png");
                            
                        }
                        &:hover  .nav-link::before{
                            background-image: url("img/user-hover.png");
                        }
                    }

                    .cart {

                        // &::after{
                        //     position: absolute;
                        //     width: 11px;
                        //     height: 11px;
                        //     content: "Корзина";
                        // }
                        .count{
                            display: block;
                            position: absolute;
                            background-color: red;
                            left: 0;
                            top: 3px;
                            font-size: 8px;
                            color: #ffffff;
                            width: 11px;
                            height: 11px;
                            border-radius: 2px;
                            text-align: center;

                        }
                        a::before{
                            background-image: url("img/cart.png");
                        }
                        &:hover  .nav-link::before{
                            background-image: url("img/cart-hover.png");
                        }
                    }
                }
            }
        }
    }
}