.footer {
    
    .container{
        .accordion{

        }
        .row {
            height: 100px;
            flex-direction: row;
            justify-content: space-between;
            
    
            .row-item {
                margin: 0;
            }
        }
    }
    
}