.new {
    overflow: hidden;
    position: relative;
}

.new::before {
    position: absolute;
    z-index: 6;
    display: block;
    left: -45px;
    top: 15px;
    width: 145px;
    height: 30px;
    content: "new";
    color: #fff;
    font-family: 'Roboto Slab Bold', serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    text-align: center;
    background: #6cb92e;
    transform: rotate(-45deg);
    padding-top: 7px; 
}
