.news_promo {
	padding-top: 35px;
	padding-bottom: 40px;
	background-image: url("img/bg_promo.png");
	background-repeat: repeat;
	background-color: #ffffff;

	.nav {
		.nav-link {
			color: #a0a0a0;
			font-size: 18px;
			font-weight: 600;
		}
		.nav-link.active {
			color: #fd4f10;
		}
	}
}