.ten_reasons {
	padding-top: 60px;
	margin-bottom: 50px;

	
	.headline{
		&:after,
		&:before {
			content: "";
		}
	}

	.item-list {
		list-style-type: none;
		margin-top: 70px;
		padding-inline-start: 0;
		display: flex;
		flex-direction: column;
		align-items: center;

		
		.item {
			display: flex;
			// display: block;
			flex-direction: column;
			align-items: center;
			margin-top: 55px;
			width: 190px;

			img {
				margin-bottom: 30px;
			}
			.reason {
				// width: 185px;
				line-height: 28px;
				text-align: center;
			}
		}
	}

	.btn-more-trigger {
		color: #fd4f10;
		font-weight: bold;
		line-height: 28px;
		border: 1px solid #fd4f10;
		background-color: white;
	}
}

@media (min-width: 576px) {
	.ten_reasons{
		.item-list {
			flex-wrap: wrap;
			flex-direction: row;
			// justify-content: flex-start;
			justify-content: space-between;
			.item {
	
			}
		}
	}
	
}

@media (min-width: 768px) {
    .ten_reasons{
		.item-list {
			flex-wrap: wrap;
			flex-direction: row;
			// justify-content: flex-start;
			justify-content: space-around;
			.item {
	
			}
		}
	}
}

@media (min-width: 992px) {
    
}

@media (min-width: 1170px) {
    
}