.carousel {
    margin-bottom: 40px;
    

	picture {
		width: 765px;
        height: 420px;
        background-color: white;
    }

    .carousel-indicators {
        bottom: 17px !important;
        li:not(.active) {
            background-color: transparent;
        }
        
    }
}