.feedbacks {
	.feedback-list {
		.feedback {
			border: #e6e6e6 solid 1px;
			padding: 20px 15px 25px 15px;
			display: flex;
			flex-direction: column;
			align-items: stretch;
			
			.user-info {
				display: flex;
				align-items: center;
				margin-bottom: 30px;

				.photo {
					border-radius: 50%;
				}
				.user {
					margin-left: 20px;
					.name {
						font-size: 15px;
						font-weight: bold;
						color: #5e81a7;
						line-height: 18px;
					}
					.date {
						font-size: 13px;
						color: #999999;
						line-height: 18px;
					}
				}
			}

			.message {
				margin-bottom: 15px;
				border-bottom: 1px solid #eaebed;

				.text {
					font-size: 14px;
					margin-bottom: 20px;
				}
				.attached {
					margin-bottom: 33px;
				}
			}

			.indicators {
				display: flex;
				justify-content: flex-start;
				margin-left: -10px;
				margin-right: -10px;
				margin-bottom: 17px;
				
				.btn-vk {
					color: #2b4866;
					font-weight: bold;
					width: auto;
					padding: 0;
					margin: 0 10px;
					background-color: white;
					font-size: 14px;
					font-weight: 800;
					
					span {
						margin-left: 4px;
					}

					&:hover {
						img {
							opacity: 0.7;
						}
						
					}
				}
			}
			
			.btn-feedback {
				font-size: 14px;
				font-weight: 800;
				background-color: #5e81a7 !important;

				img {
					margin-right: 10px;
				}
			}
		}


	}
}