.main {
    .sets,
    .rolls,
    .pizza,
    .wok {
        margin-bottom: 30px;
    }
    .headline {
        margin-bottom: 1rem;
        text-align: center;
        color: #32505a;
        font-size: 3rem;
        font-family: 'Lemon Tuesday', sans-serif;
    }

    .headline-decorated {
        &::before {
            position: relative;
            right: 2rem;
            content: url("/img/title-left.png");
        }

        &::after {
            position: relative;
            left: 2rem;
            content: url("/img/title-right.png");
        }

        &.no-before::before {
            display: none;
        }
        
        &.no-after::after {
            display: none;
        }
    }
    
    .slick-slide {
        width: 220px !important;
        margin: 0 15px;
    }
    .slick-track {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .sets {
        margin-top: 3rem;
    }

    @import "top_slider.scss";
    @import "card.scss";
    @import "news_promo.scss";
    @import "ten_reasons.scss";
    @import "feedbacks.scss";
    @import "backwards.scss";
    @import "about.scss";
}