.main {
    .headline {
        margin-bottom: 1rem;
        text-align: center;
        font-size: 3rem;
        font-family: 'Lemon Tuesday', sans-serif;
    }
    .headline::before {
        position: relative;
        right: 2rem;
        content: url("/img/title-left.png");
    }
    .headline::after {
        position: relative;
        left: 2rem;
        content: url("/img/title-right.png");
    }
    .slick-slide {
        width: 220px !important;
        margin: 0 15px;
    }
    .slick-track {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .sets {
        margin-top: 3rem;
    }
    
    @import "card.scss";
    @import "news_promo.scss";
    @import "ten_reasons.scss";
    

}