.ten_reasons {
	padding-top: 60px;

	
	.headline{
		&:after,
		&:before {
			content: "";
		}
	}

	.item-list {
		list-style-type: none;
		margin-top: 70px;
		padding-inline-start: 0;

		
		.item {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 55px;

			img {
				margin-bottom: 30px;
			}
			.reason {
				width: 185px;
				line-height: 28px;
				text-align: center;
			}
		}
	}
}